.view {
    width: 400px;
    border: 1px solid gray;
    margin: 20px auto;
    .title {
        border-bottom: 1px solid gray;
    }
    ul li {
        list-style: none;
        margin: 10px 0;
    }
    .finish {
        color: gray;
        text-decoration: line-through;
    }
}
